@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<StatProjetAnnee> liste = ViewData["nbprojet"] as List<StatProjetAnnee>;
    var labels = liste.Select(p => p.annee).ToArray();
    var data = liste.Select(p => p.nbprojet).ToArray();
}

<h2>Nombre Projet Par An de 2017 a maintenant</h2>
<br>
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">

            <!-- Bar Chart -->
            <canvas id="barChart" style="max-height: 400px;"></canvas>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    var labels = @Html.Raw(Json.Serialize(labels));
                    var data = @Html.Raw(Json.Serialize(data));

                    new Chart(document.querySelector('#barChart'), {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'nombre',
                                data: data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 205, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(201, 203, 207, 0.2)'
                                ],
                                borderColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)',
                                    'rgb(255, 205, 86)',
                                    'rgb(75, 192, 192)',
                                    'rgb(54, 162, 235)',
                                    'rgb(153, 102, 255)',
                                    'rgb(201, 203, 207)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                });
            </script>
            <!-- End Bar CHart -->

        </div>
    </div>
</div>
